html, body {
  width: 100%;
  height: 100%;
  font: 100%/1.5em "AvenirNext-Regular", sans-serif;
}

/* Reset `button` and button-style `input` default styles */
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;

    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
  border-radius: 4px !important;
}

div.ng-scope{
  height: 100%;
}

.btn-primary {
  background: #DFC52D;
  border: none;
}

label {
  font-weight: normal;
  color: #B3B3B3;
}

input {
  color: #1A1A1A !important;
}

.modal {
  width: 40%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.modal-body {
  padding: 2em 4em;
}

p.alternative {
  font: italic 14px/1.5em Georgia, serif;
}

.full-bg {
  width: 100%;
  height: 100%;
  background: url(/assets/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-box {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 5%; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
}
  .center-box a {
    color: white;
  }

  .center-box button {
    background: rgba(223,197,45,0.8);
    border-radius: 40px;
    height: 3em;
    line-height: 3;
    margin: 4em 0 1em 0;
    padding: 0 1.5em;
    width: 14em;
    opacity: 0.9;
    color: black;
  }

.center-box .form {
  background: #000;
}

.navbar {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 0;
}
  .navbar .logo {
    width: auto;
    height: 90%;
  }
  .navbar .login {
    background: rgba(255,255,255,0);
    color: white;
    border-color: rgba(255,255,255,0.4);
  }











