<div ng-include="'components/navbar/navbar.html'"></div>

<div class="content-wrapper">

	<button class="create" ng-click="openShareFoodModal()" ng-show="hasUserLocation" style="margin-top: -120px;">
		Share with this location
	</button>

	<script type="text/ng-template" id="shareFoodModal.html">
		<div class="modal-header">
			<h4 class="modal-title">Create Food</h4>
		</div>
		<div class="modal-body">

			<form name="shareFoodForm" class="form" ng-submit="shareYourFood()" novalidate>
				<div class="form-group" ng-class="{  'has-error': shareFoodForm.name.$invalid && !shareFoodForm.name.$pristine }">
					<label for="name">I will cook</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter food name here" ng-model="food.name" ng-disabled="onCreating" required>
					<label ng-show="shareFoodForm.name.$invalid && !shareFoodForm.name.$pristine" class="help-block">Name is required.</label>
				</div>
				<div class="form-group" ng-class="{ 'has-error': shareFoodForm.name.$invalid && !shareFoodForm.name.$pristine }">
					<label for="name">For</label>
					<select class="form-control" ng-model="food.total" ng-disabled="onCreating" convert-to-number required>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
					<label ng-show="shareFoodForm.total.$invalid && !shareFoodForm.total.$pristine" class="help-block">Name is required.</label>
				</div>
				<input type="submit" class="btn btn-primary btn-block" value="Submit">
			</form>

		</div>
	</script>

</div>

<div ng-include="'components/gmap/gmap.html'"></div>