$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


body{
	font-size: 16px;
}

// div.ng-scope{
// 	height: 100%;
// }

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.navbar{
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(248,248,248,0.4);
	border-bottom: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font: 100%/1.5em "AvenirNext-Regular", sans-serif;
}

/* Reset `button` and button-style `input` default styles */
button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;

    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
  border-radius: 4px !important;
}

.btn-primary {
  background: #DFC52D;
  border: none;
}

label {
  font-weight: normal;
  color: #B3B3B3;
}

input {
  color: #1A1A1A !important;
}

// .modal {
//   width: 40%;
//   height: 50%;
//   overflow: auto;
//   margin: auto;
//   position: absolute;
//   top: 0; left: 0; bottom: 0; right: 0;
// }
.modal{
	top: 8%;
}
.modal-body {
  padding: 2em 4em;
}

p.alternative {
  font: italic 14px/1.5em Georgia, serif;
}

.full-bg {
  width: 100%;
  height: 100%;
  background: url(/assets/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-box {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 5%; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
}
  .center-box a {
    color: white;
  }

  

.center-box .form {
  background: #000;
}

button.create {
  background: rgba(223,197,45,0.8);
  border-radius: 40px;
  height: 3em;
  line-height: 3;
  margin: 4em 0 1em 0;
  padding: 0 1.5em;
  width: 14em;
  opacity: 0.9;
  color: black;
}

.navbar {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 0;
}
  .navbar .logo {
    width: auto;
    height: 90%;
  }
  .navbar .login {
    background: rgba(255,255,255,0);
    color: white;
    border-color: rgba(255,255,255,0.4);
  }













.content-wrapper{
	color: #fff;
	position: absolute;
	z-index: 1;
	width: 500px;
	top: 200px;
	left: 50%;
	margin-left: -250px;
	text-align: center;

	&--large{
		width: 700px;
		margin-left: -350px;
	}

	&--fullwidth{
		width: 100%;
		margin-left: 0;
		left: 0;
		height: 100%;
		top: 0;
		padding-top: 200px;
	}

	&--footer{
		top: auto;
		bottom: 40px;
	}
}

.modal-header{
	padding: 15px;
}
.modal-title{
	font-weight: normal;
	text-align: center;
}
.modal-body{
	padding: 35px 45px;

	label{
		font-weight: normal;
	}
	.btn{
		text-transform: uppercase;
		padding: 10px 25px;
	}

	&--nopadding{
		padding: 0;
	}
}
.modal-sm{
	width: 380px;
}

.form label{
	color: #b3b3b3;
}
.form-control{
	padding: 12px 15px;
	height: auto;
}

.navbar {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 0;
}
  .navbar .logo {
    width: auto;
    height: 90%;
  }
  .navbar .login {
    background: rgba(255,255,255,0);
    color: white;
    border-color: rgba(255,255,255,0.4);
  }

.detail img {
  margin-right: 20px;
}
.reserve {
  text-align: center;
  margin-top: 2em;
}
  .reserve form {
    border: thin solid #F3F3F3;
    margin: 2em auto 0 auto;
    padding: 1em 0 0 0;
    width: 50%;
  }
  .reserve form h1 {
    font-size: 4em;
  }


// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector