<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img class=" logo" src="assets/icon/logo.svg" alt="Logo">
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="isAdmin()" ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="" ng-click="loginOauth('facebook')">Login with Facebook</a></li>
        <li ng-show="isLoggedIn()">
          <div class="profile-pic">
            <img ng-src="{{ getUserProfileUrl() }}" title="{{ getCurrentUser().name }}" width="35" height="35" style="border-radius: 18px;top: 8px;
            position: relative;">
          </div>
        </li>
        <li ng-show="isLoggedIn()">
          <span class="navbar-text">{{ getCurrentUser().name }} &nbsp;|&nbsp;  <a href="" ng-click="logout()">Sign out</a> </span>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"></li>
      </ul>
    </div>
  </div>
</div>
