<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<!-- <div class="content-wrapper">

	<a class="btn btn-lg btn-create" ng-click="shareFood()">I want to share my meal</a>
	<br>
	<i>or</i>
	<br>
	<a ng-click="searchFood()">I want to find something to eat</a>

</div> -->

<div class="full-bg">
  <div class="center-box">
    <div class="clearfix">
      <img src="assets/icon/logo.svg" alt="Logo">
    </div>
    <button class="create" ng-click="shareFood()">I want to share my food</button>
    <p class="alternative">or</p>
    <a href="#" ng-click="searchFood()">I want to find something to eat</a>
  </div>
</div>