<div ng-controller="GMapCtrl">

    <ui-gmap-google-map
    
    center="map.center"
    zoom="map.zoom"
    dragging="map.dragging"
    bounds="map.bounds"
    events="map.events"
    options="map.options"
    pan="true"
    control="map.control"
    >

    <ui-gmap-marker 
    ng-repeat="marker in map.markers"
    idKey='marker.id'
    coords='marker.coords'
    icon="marker.icon"
    options="marker.options"
    events="marker.events"
    >


    </ui-gmap-marker>

<ui-gmap-circle ng-repeat="c in circles track by c.id"
center="userCurrentLocation"
radius="300"
stroke="c.stroke" 
fill="c.fill"
control="c.control"
>
</ui-gmap-circle>

</ui-gmap-google-map>

</div>