<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="reserveFoodModal.html">
	<div class="modal-header">
		<h4 class="modal-title">Detail</h4>
	</div>
	<div class="modal-body">

		<form name="reserveFoodForm" class="form" ng-submit="reserveFood()" novalidate>

			<div class="modal-body detail">
			    <div class="pull-left">
			      <img src="assets/img/avatar.png" alt="Avatar" class="img-circle">
			    </div>
			    <h3>Gordon Ramsey</h3>
			    <p class="text-muted">Bangkok, Thailand</p>
			  
			  <div class="reserve">
			    <p class="text-muted">He will cook</p>
			    <h3>Papaya Pokpok</h3>
			    
			    <form>
			      <p>Available</p>
			      <h1>3</h1>
			      <p class="text-muted">
			        Out of 5
			      </p>
			      <button type="submit" class="btn btn-primary btn-lg btn-block">Reserve</button>
			    </form>

			  </div>
			  
			</div>

		</form>

	</div>
</script>

<div ng-include="'components/gmap/gmap.html'"></div>